.box {
    height: 200px;
    width: 250px;
    background-color: var(--color-surface);
    margin: 10px 20px 10px 0;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    flex: 0 0 250px;
}

.link {
    text-decoration: none;
    color: var(--color-text-primary);
}

.imageBox {
    height: 70%;
    border-radius: var(--radius-md) var(--radius-md) 0 0 ;
    background-repeat: no-repeat;
    background-size: auto 90px;
    background-position: center;
    background-color: var(--color-surface-secondary);
    padding: 5px;
}

.imageBox > div {
    padding: 0 10px;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--radius-sm);
    height: 16px;
    display: flex;
    align-items: center;

}

.imageBox > div > span {
    opacity: 100%;
    font-size: 8px;
}

.infoBox {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    justify-content: space-between;
    height: 30%;
}

.info {
    display: flex;
    justify-content: start;
    margin-top: 2px;
}

.info > div {
    display: flex;
    margin-right: 20px;
    align-items: center;
    color: var(--color-text-third);
}

.icon {
    width: 14px;
    height: 14px;
    color: var(--color-text-third);
    margin-right: 6px;
}

@media (min-width: 768px) {


}

@media (min-width: 1024px) {

    .box {
        height: 250px;
        width: 350px;
        flex: 0 0 350px;
    }

    .imageBox {
        background-size: auto 150px;
    }

    .infoBox {
        padding: 15px 10px;
    }

    .info {
        margin-top: 6px;
    }


}

@media (min-width: 1440px) {

}