.box {
    border: 1px solid black;
    background-color: #a48686;
    border-radius: 50px;
}

.imageBox {
    height: 150px;
    width: 150px;
}

.imageBox img {
    height: 100%;
    width: 100%;
    border-radius: 30%;
    object-fit: cover;

}