.box {
    border: 1px solid black;
    background-color: #a48686;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.52);;
}

a {
    text-decoration: none;
    color: white;
}

.imageBox {
    height: 150px;
    width: 150px;
    margin-right: 20px;
}

.imageBox img {
    height: 100%;
    width: 100%;
    border-radius: 30%;
    object-fit: cover;
}

.info {
    display: flex;
}

.info > ul {
    list-style: none;
}

.info > ul > li {
    margin-bottom: 10px;
}

.petName {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn > button {
    height: 100%;
}