.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--color-surface);
    border-radius: var(--radius-lg);
    padding: 15px;

}

.info > div {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 10px;
}

.info > div > label {
    border: none;
    margin-top: 0;
    text-align: center;
    border-radius: var(--radius-lg);
    /*width: 100%;*/
    color: var(--color-surface);
    padding: 10px 20px;
    font-family: inherit;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    margin-right: 10px;

}

.info > div > label, .info > div > button {
    width: 30%;
}

.info > div > label, .title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text);

}

.info > input {

    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--color-text);
    outline: 0;
    color: var(--color-primary);
    padding: 4px 0;

    background: transparent;
    transition: border-color 0.2s;



}

.info > input::placeholder {
    color: var(--color-text-third);
}

.info > input:hover, .info > input:focus  {
    border-color: rgba(117, 134, 149, 0.5);
}

.fileInput {
    display: none;
}

.fileButton {
    padding: 10px 18px;
    border-radius: var(--radius-lg);
    background: var(--color-text);
    color: var(--color-surface) !important;
    cursor: pointer;
    margin-top: 5px;
}

.fileButton:hover {
    background: var(--color-text-third);
}