.upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.cards {

}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}