.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}

.head > h3 {
    font-weight: var(--font-weight-light);
}

.box {
    background-color: var(--color-surface);
    padding: 30px 10px;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
}

.box  article {
    /*background-color: #571d0b;*/
}

.box > p {
    display: flex;
    justify-content: center;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-lg);
}

.box > div {
    display: flex;
    justify-content: end;
}

.box > div > button {
    width: 20%;
}

/*.info > div {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.info > div > article {*/
/*    width: 100%;*/
/*}*/

/*.info > div > button {*/
/*    width: 10%;*/
/*    height: 40px;*/
/*    padding: 1px;*/
/*}*/

.cards {

}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}