@media (min-width: 768px) {

    .menu {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }

    .menu > button {
        border: none;
        color: var(--color-primary);
        cursor: pointer;
        outline: none;
        font-family: var(--font-family), system-ui, sans-serif;
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-md);
        background-color: var(--color-bg);
    }

    .menu > button:hover {
        color: var(--color-primary-hover);
        border-bottom: 1px solid var(--color-primary-hover);
    }

}

@media (min-width: 1024px) {

    .menu {
        width: 30%;
    }

}

@media (min-width: 1440px) {

}