.petCards {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* for Firefox */
}

.petCards::-webkit-scrollbar {
    display: none; /* for Chrome и Safari */
}

.container {
    position: relative;
}

.btn {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--color-border);
    position: absolute;
    top: 65px;
    right: 0;
    opacity: 50%;

}

.btnLeft {
    transform: rotate(180deg);
    left: 0;
}

.btn:hover {
    cursor: pointer;
    opacity: 100%;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

    .btn {
        top: 120px;
    }

}

@media (min-width: 1440px) {
}