:root {

    /* COLORS */

    --color-bg: #f8f4ed;
    --color-surface: #ffffff;

    --color-primary: #EA7946;
    --color-primary-hover: #FFB597;

    --color-text: #916053;
    --color-text-secondary: #3F4B55;

    --color-border: #3F4B55;

    --color-success: #FF8C59;
    --color-error: #ab2d07;

    /* RADIUS */

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;

    /* SPACING */

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    /* TYPOGRAPHY */

    --font-family: 'Quicksand', system-ui, sans-serif;

    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 32px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* SHADOWS */

    --shadow-sm:
            0 1px 2px rgba(0,0,0,0.06);

    --shadow-md:
            0 4px 12px rgba(0,0,0,0.08);
}