.box {
    display: none;
}


@media (min-width: 768px){

    .box {
        display: flex;
        justify-content: space-between;
        padding: 16px 30px;
        box-shadow: var(--shadow-sm)
    }

    .box > div {
        display: flex;
        justify-content: space-between;

    }

    .menu {
        width: 60%;
    }

    .icons {
        width: 6%;
    }

    .btn {
        border: none;
        color: var(--color-primary);
        cursor: pointer;
        outline: none;
        font-family: var(--font-family), system-ui, sans-serif;
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-md);
        background-color: var(--color-bg);
    }

    .btn:hover {
        color: var(--color-primary-hover);
        border-bottom: 1px solid var(--color-primary-hover);
    }

    .box > h1 {
        font: var(--text-h1);
        color: var(--color-text-secondary);

    }

    .icon, .profile {
        width: 16px;
        color: var(--color-primary);
        cursor: pointer;
    }

    .icon:hover, .profile:hover {
        color: var(--color-primary-hover);
    }

}

@media (min-width: 1024px) {

    .menu {
        width: 30%;
    }

    .icons {
        width: 4%;
    }

}

@media (min-width: 1440px) {
    .icons {
        width: 3%;
    }
}