.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-lg);

    padding: 40px 0;

}

.box > h1 {
    font-style: var(--text-h1);
    color: var(--color-primary);
    margin-bottom: 10px;

}

.steps {
    color: var(--color-primary);
}

@media (min-width: 768px){

}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {

}