.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

@media (min-width: 768px) {

    .container {
        align-items: center;
    }

    .container > button {
        width: 350px;
    }

}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {

}